.stylenav{
    background-attachment: fixed;
    background-color: cornflowerblue;
display: flex;
flex-direction: row;
}
.stylenav ul {
    list-style: none;
}
.stylep1{
    color:grey;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    width: 70%;
    height: 70%;
    background-color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    align-self: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.stylebutton{
    background-color:royalblue;
    color:black;
    padding: 20px;
    border: 3px solid gray;


}